.navbar-default {
	background-color: white;
}


body{
	background-color: #f8f8f8;
}

.radio.col-sm-10 {
   
}


h4{
	font-weight: bold;
}

div.alert.alert-danger.alert-dismissible{
	background-color: #fff5f5;
	color: #e60400;
}
