.navbar-default {
	background-color: white;
}


body{
	background-color: #f8f8f8;
}

td.test{
	color: #6aaedf;

}

div.alert.alert-danger.alert-dismissible{
	background-color: #fff5f5;
	color: #e60400;
}